.bg--black {
    background-color: $black;
}

.bg--purple {
    background-color: $purple;
}

.bg--gray {
    background-color: $gray;
}

.bg--cream {
    background-color: $cream;
}

.bg--yellow {
    background-color: $yellow;
}

.bg--blue {
    background-color: $blue;
}

.bg--red {
    background-color: $red;
}
.bg--white{
	background-color: $white;
}