.block--footer-nav {
    margin: 0;
    border-left: 2px solid $gray;
    margin-bottom: 1em;

    // flex-grow: 1;

    li {
        list-style-type: none;
        margin: 0;

        // line-height: .9;
        // margin-bottom: .5em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    // &:nth-of-type(3), &:nth-of-type(4){
    // @extend .grid--sm-half;
    // @extend .grid--md-fifth;
    // }
    + img{
        margin-right: -2em;
    }
}