.button {
    text-transform: uppercase;
    border: 2px solid;
    padding: 0.5em 1em;
    font-size: .9em;

    &.center {
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }

    &.icon {
        display: inline-flex;
        align-items: baseline;
    }
}