.section--email-signup {
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    transform: translateY(-100%);

    &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparentize($black, 0.4);
        z-index: -2;
        opacity: 0;
        transition: opacity 0.2s $base-animation;
    }

    .block--signup {
        z-index: 99;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .trigger--close {
            position: absolute;
            top: 2em;
            right: 3em;
        }
    }
}

body {
    &.emailopen {
        .section--email-signup {
            &:before {
                opacity: 1;
                z-index: 98;
                transition: opacity 0.2s $base-animation;
            }

            transform: translateY(0);
            transition: transform 0.2s $base-animation;

            .block--signup {
                // transition: opacity .2s $base-animation;
           
            }
        }
    }
}