.section--header-navigation {
    width: calc(100% - 95px);
    flex-basis: calc(100% - 95px);

    @include media($screen-xs) {
        width: calc(100% - 100px);
        flex-basis: calc(100% - 100px);
    }


    @include media($screen-md) {
        width: calc(100% - 150px);
        flex-basis: calc(100% - 150px);
    }


    @include media($screen-lg) {
        width: calc(100% - 200px);
        flex-basis: calc(100% - 200px);
    }


    @include media($screen-xl) {
        width: calc(100% - 250px);
        flex-basis: calc(100% - 250px);
    }


    > ul {
        > li {
            @include media($screen-xs) {}


            @include media($screen-sm) {
                font-size: .7em;

                > a {
                    font-weight: 400;
                }
            }


            @include media($screen-smd) {
                font-size: .75em;
            }


            @include media($screen-md) {
                font-size: .8em;

                > a, > span {
                    letter-spacing: .5px;
                }
            }


            @include media($screen-lg) {
                font-size: .9em;

                > a, > span {
                    letter-spacing: 1px;
                    font-weight: 600;
                }
            }


            @include media($screen-xl) {
                font-size: $base-font-size;
            }
        }
    }

    ul,
    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-drop {
        @include media($screen-sm) {
            &:before {
                content: " ";
                display: block;
                height: 10px;
                width: 10px;
                transform: translateY(50%) translateX(-50%) rotate(45deg);
                background-color: $white;
                left: 50%;
                position: relative;
            }

            pointer-events: none;
            position: absolute;
            width: 230px;
            box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15);
            top: 2em;
            right: 50%;
            transform: translateX(50%) translateY(-5%);
            will-change: opacity, transform;
            transition: opacity 0.2s $base-animation, transform 0.3s $base-animation;
            opacity: 0;
            transition-delay: .3s;

            .nav-drop-item {
                &:first-of-type {
                    top: 50px;
                }

                a {
                    @include accelerate;

                    border-bottom: 1px solid transparentize($lightgray, 0.1);
                    transition: background-position 0.2s $base-animation;
                    will-change: background-position;
                    background: linear-gradient(90deg, $blue 50%, $white 50%);
                    background-position: 100%;
                    background-size: 200%;

                    &:hover {
                        @include accelerate;

                        will-change: background-position;
                        transition: background-position 0.2s $base-animation;
                        background-position: calc(100% + 5px);
                    }

                    &:active {
                        @include accelerate;

                        will-change: background-position;
                        transition: background-position 0.2s $base-animation;
                        background-position: calc(100% + 10px);
                    }

                    @include media($max-xs) {}


                    @include media($max-sm) {
                        font-size: .9em;
                    }


                    @include media($max-md) {}


                    @include media($max-lg) {
                        font-size: .9em;
                    }
                }

                &:last-of-type {
                    a {
                        border-bottom: none;
                    }
                }
            }
        }


        .nav-drop-item {
            a {
                @include accelerate;

                will-change: transform,padding;
                transition: transform 0.3s $base-animation, padding 0.3s $base-animation;
                padding: 15px 20px;
                font-size: 0.9em;
                display: block;
                line-height: 1.2;
                letter-spacing: 0.5px;
            }
        }

        font-size: 0.8em;
        line-height: 1.4;
        z-index: 9999;
    }

    @include media($screen-sm) {
        .menu-item-has-children {
            position: relative;
            display: block;

            &:hover {
                .nav-drop {
                    @include accelerate;

                    pointer-events: all;
                    transform: translateX(50%);
                    z-index: 9999;
                    opacity: 1;
                    transition: opacity 0.2s $base-animation, transform 0.3s $base-animation;
                    will-change: opacity, transform;
                }
            }
        }
    }
}

.langtext {
    @include media($max-lg) {
        span {
            display: none;
        }

        &:before {
            content: 'Lang' !important;
            display: inline-block;
        }
    }
}