.section--success-data {
    .block--success-step {
        h3 {
            position: relative;
            padding-left: 60px;

            i {
                display: inline-block;
                width: 50px;
                height: 41px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}