.section--home-steps {
    .block--home-step {
        border: 15px solid;

        i {
            width: 110px;
            height: 110px;
            display: inline-block;
        }

        &:nth-of-type(1) {
            border-color: $red;

            h3 {
                color: $red;
            }
        }

        &:nth-of-type(2) {
            border-color: $blue;

            h3 {
                color: $blue;
            }
        }

        &:nth-of-type(3) {
            border-color: $yellow;

            h3 {
                color: $yellow;
            }
        }

        @include media($max-md) {
            &:nth-of-type(1), &:nth-of-type(2) {
                margin-bottom: 1em;
            }
        }
    }
}