<footer class="flex flex--wrap justify--between spacing--gutter align--items-start spacing--vert-2">
	<div class="medium--hide grid--sixth"><i class="icon-logo-nobg" data-grunticon-embed></i></div>
	{% for nav in options.footer.navigation %}
		{% include 'components/blocks/block--footer-nav.twig' %}
	{% endfor %}
	
	{# Copyright {{"now"|date('Y')}} #}
</footer>