<footer class="flex flex--wrap justify--between spacing--gutter align--items-start spacing--vert-2">
	<div class="medium--hide grid--sixth"><i class="icon-logo-nobg" data-grunticon-embed></i></div>
	{% for nav in options.footer.navigation %}
		{% include 'components/blocks/block--footer-nav.twig' %}
	{% endfor %}
	<div class="font--tiny text--center grid--one">
		Copyright {{"now"|date('Y')}}
	</div>
</footer>