{% extends "base.twig" %}
{% block content %}
	{% include 'components/sections/section--base-header.twig' %}
	<article class="section--base-content flex flex--wrap justify--start align--items-start">
		{% include 'components/blocks/block--base-title.twig' %}
		<section class="content grid--one grid--sm-three-fifths grid--md-half spacing--vert-1 spacing--dsk-vert-3" style="margin-left:10px;">
			<div class="spacing--gutter margin--bot-2">
				{{base.content}}
				{% include 'components/sections/section--base-started.twig' %}
				{% if base.secondstart.title %}{% include 'components/sections/section--base-started2.twig' %}{% endif %}
			</div>
			
		</section>
		
	</article>
	{% include 'components/sections/section--base-stories.twig' %}

	{% include 'components/sections/section--base-community.twig' %}
{% endblock %}