{% extends "base.twig" %}
{% block content %}
	{% include 'components/sections/section--base-header.twig' %}
	<article class="section--base-content flex flex--wrap justify--start align--items-start">
		{% include 'components/blocks/block--base-title.twig' %}
		<section class="content grid--one grid--sm-three-fifths grid--md-half spacing--vert-3">
			<div class="spacing--gutter margin--bot-3">
				{{base.content}}
			</div>
			{% include 'components/sections/section--base-started.twig' %}
		</section>
		
	</article>
	{% include 'components/sections/section--base-stories.twig' %}
	{% include 'components/sections/section--base-community.twig' %}
{% endblock %}