{% extends "base.twig" %}
{% block content %}
	<section class=" section--base-header section--title-header block--base-title flex flex--wrap justify--start align--items-stretch">
		<div class="grid--one grid--md-two-fifths grid--lg-third bg--cream">
			<div class="titlewrap spacing--horiz-3">

				{% if post.post_type == 'event' %}<h4 class="inherit">{{event.date|date('M d, Y')}}</h4>{% endif %}
				<h1 class="h1 transform--no font--thin short inherit letter--0">{{post.title}}</h1>
			</div>
		</div>
		<div class="content grid--one grid--md-three-fifths grid--lg-two-thirds">
			{% if post.get_thumbnail %}
				<img src="{{post.thumbnail.src}}" alt="">
			{% endif %}
		</div>
	</section>
	<section class="flex flex--wrap justify--between align--items-start spacing--vert-3 ">
		<div class="grid--one grid--md-two-fifths grid--lg-third spacing--gutter">
			{% include 'components/blocks/block--signup.twig' %}
		</div> 
	</section>
{% endblock %}