<header class="header section--header flex flex--wrap align--items-start justify--between">
	<div class="hdr-logo-link logowrap">
		<a class="hdr-logo-link" href="/" rel="home"><i class="icon-logo" data-grunticon-embed>{{site.name}}</i></a>
		<ul class="extranav--mob hidden--dsk">
			{# <li class="nav-item search"><i class="icon-search" data-grunticon-embed></i></li> #}
			{# <li class="nav-item language font--tiny color--white">Lang  <i class="icon-angle-down" data-grunticon-embed></i></li> #}
			
	</ul>
</div>
<div class="menu--trigger-wrap"><label class="hidden--dsk menu--trigger"><span></span></label></div>
{% include 'components/navigation.twig' %}
</header>