<section class="section--footer-news bg--cream spacing--gutter spacing--vert-2 spacing--dsk-vert-5 flex flex--wrap justify--between">
	<div class="grid--one grid--sm-half">
		<h4 class=" text--uppercase font--bold">{{options.footer.news}}</h4>
		<hr class="small text--left margin--horiz-0">
		<div class="flex flex--wrap flex--double justify--between ">
			{% for news in options.footer.newsposts %}
				{% include 'tease-news.twig' %}
			{% endfor %}
		</div>
	</div>
</section>