<article class="section--base-content flex flex--wrap justify--start align--items-start">
	{% include 'components/blocks/block--base-title.twig' %}
	<section class="content grid--one grid--sm-half spacing--gutter spacing--vert-3">
		{{base.content}}
	</section>
</article>