<section class="section--title-header block--base-title flex flex--wrap justify--start align--items-baseline">
	<div class="grid--one grid--md-two-fifths grid--lg-third bg--cream">
		<div class="titlewrap spacing--horiz-3">
			<h4 class="inherit">{{success.header.title}}</h4>
			<h5 class="h1 transform--no font--thin short inherit letter--0">{{success.header.subtitle}}</h5>
		</div>
	</div>
	<div class="content grid--one grid--sm-three-fifths grid--md-half spacing--vert-3 spacing--gutter">
		{{success.header.content}}
	</div>
</section>