<div class="block--signup bg--cream spacing--vert-2 spacing--horiz-2">
	<strong class="block text--uppercase">{{options.options.connected.title}}</strong>
	<div><a href="" class="trigger--email font--small text--uppercase">{{options.options.connected.link}}</a> {{options.options.connected.text}}</div>
</div>